.navbar {
    background-color: white;
   
}

.navbar li a {
    color: white!important;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin: 0 10px;
    
    
}

.navbar li a:hover {
    color: sandybrown!important;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin: 0 10px;
    
}

.navbar-brand {
    font-size: 1.3rem;
    letter-spacing: 1px;
    color:sandybrown!important;
    
}
/* jumbotron styling */

#headJumbo img{
    height: 170px;
    width: auto;
}

#headJumbo {
    color: white; 
}

#headJumbo {
    background-color: black;
color: white;
}

#headJumbo h1 {
    font-size: 4rem;
    font-weight: 200;
}

#headJumbo h3 {
    font-size: 2.2rem;
    font-weight: 250;
}

.jumbotron {
    background-color: black;
    box-shadow: 1px 1px 5px gray;
}

/* about me */

#aboutMe {
    margin-top: 75px;
    font-size: 1.2rem;
    text-align:center;
}

/*skills*/

#skills {
    margin-top: 75px;

}

#skills svg.svg-inline--fa {
    font-size: 5rem;
    margin: auto;
    color: black;
    margin: 10px;


} 
    
#skills svg.svg-inline--fa:hover {
    color: sandybrown!important;
    font-size: 5.2rem;

}


#showCase {
    margin-top: 75px;
}


.cap1 p {
    color: black;
    font-size: 1.1rem;
}

.carousel-indicators li {
    display: none;
}

#projectshow img {
    width: 100;
    height: 400px;
    padding: 30px 0;
    margin-top: 15px;
}

.cap1 {
    margin-top: 15px;
}


/* work history */

#workHis {
    margin-top: 20px;
    text-align: center;
}

#workHis h1 {
    font-size: 1.5rem;

}

#workHis h3 {
    font-size: 1rem;
    text-decoration:  black;
    font-weight: 150;
    
}

#workHis h4 {
    font-size: 1rem;
    font-style: italic;
    color: black
    
}

#workHis h6 {font: 0.8rem;
    font-weight: 200;

    
}

/* footer */
#footer {
    background-color: black ;
    margin-top: 100px;
    
}

#contact {
    color:white

}
    #contact svg.svg-inline--fa {
        font-size: 1.7rem;
        margin: auto;
        color: white;
        margin: 2px;
    
    }
    
    #contact svg.svg-inline--fa:hover {
        color: sandybrown!important;
        font-size: 1.8rem;
    
    }